<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saranda Rentals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Saranda Rentals</h1>
            <nav>
                <ul>
                    <li><a href="/dashboard" onclick="showMessage()">Dashboard</a></li>
                    <li><a href="#" onclick="openLoginForm()">Login</a></li>
                    <li><a href="#" onclick="openRegisterForm()">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div id="flashMessage" class="flash-message" style="display: none;">
        Please log in or register to continue.
    </div>

    <!-- Popup Login Form -->
    <div id="loginPopup" class="popup">
        <form class="popup-content" action="/login" method="POST">
            <span class="close" onclick="closeLoginForm()">&times;</span>
            <h2>Login</h2>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
            
        </form>
    </div>

    <!-- Popup Register Form -->
    <div id="registerPopup" class="popup">
        <form class="popup-content" action="/register" method="POST">
            <span class="close" onclick="closeRegisterForm()">&times;</span>
            <h2>Register</h2>
            <label for="first_name"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" name="first_name" required>
            <label for="last_name"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" name="last_name" required>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <label for="password"><b>Confirm Password</b></label>
            <input type="password" placeholder="Enter Password" name="confirmpassword" required>
            <button type="submit">Register</button>
        </form>
    </div>

    <section class="hero">
        <div class="hero-content">
            <h2>DON'T RENT ANY CAR.</h2>
            <h2>RENT THE CAR.</h2>
            <p>Premium car rentals at affordable rates.</p>
        </div>
    </section>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
